.nav {
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    height:70px;
    width:100vw;
    background-color:black;
    z-index:5;
}

.nav a:link, a:visited, a:active {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display:flex;
    color:#a845c5;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    height: 70px;
    width:150px;
    transition: all 0.2s;
}

.nav a:hover {
    background-color: #a845c5;
    color: black;
}

@media (max-width: 600px) {
    .nav a:link, a:visited, a:active {
        font-size: 1.3em;
    }
}