<app-header [isLoggedUser]="userData ? true : false"></app-header>
<div class="background-image"></div>
<header class="headerContent">
  <div class="title">
    PlanetInfo
  </div>
  <div (click)="scrollToElement('mars')" class="downArrow"></div>
</header>
<section id="mars" class="content">
  <div class="mars js-scroll slide-left"></div>
  <div class="info">
    <div class="title">
      Marte
    </div>
    <div class="textInfo">
      <div class="titleInfo">Diámetro ecuatorial</div>
      6787 km
      <div class="titleInfo">Masa</div>
      6,390 x 10^23 kg
      <div class="titleInfo">Radio orbital</div>
      1,52 UA
      <div class="titleInfo">Periodo orbital</div>
      1,88 años
      <div class="titleInfo">Periodo de rotación</div>
      1,03 días
      <div class="titleInfo">Inclinación</div>
      1,9°
      <div class="titleInfo">Nº de satélites</div>
      2
      <div class="titleInfo">Composición de la atmósfera </div>
      95 % CO2, 1.6 % argón, 3 % nitrógeno
    </div>
    <div (click)="scrollToElement('jupiter')" class="downArrow"></div>
  </div>
</section>
<section id="jupiter" class="content">
  <div class="info">
    <div class="title">
      Júpiter
    </div>
    <div class="textInfo">
      <div class="titleInfo">Diámetro ecuatorial</div>
      142984 km
      <div class="titleInfo">Masa</div>
      1,898 x 10^27 kg
      <div class="titleInfo">Radio orbital</div>
      5,20 UA
      <div class="titleInfo">Periodo orbital</div>
      11,86 años
      <div class="titleInfo">Periodo de rotación</div>
      0,414 días
      <div class="titleInfo">Inclinación</div>
      1,3°
      <div class="titleInfo">Nº de satélites</div>
      79
      <div class="titleInfo">Composición de la atmósfera </div>
      90 % hidrógeno, 10 % helio, trazas de metano
    </div>
    <div (click)="scrollToElement('uranus')" class="downArrow"></div>
  </div>
  <div class="jupiter js-scroll slide-right"></div>
</section>
<section id="uranus" class="content">
  <div class="uranus js-scroll slide-left"></div>
  <div class="info">
    <div class="title">
      Urano
    </div>
    <div class="textInfo">
      <div class="titleInfo">Diámetro ecuatorial</div>
      51108 km
      <div class="titleInfo">Masa</div>
      8,681 × 10^25 kg
      <div class="titleInfo">Radio orbital</div>
      19,19 UA
      <div class="titleInfo">Periodo orbital</div>
      84,01 años
      <div class="titleInfo">Periodo de rotación</div>
      0,718 días
      <div class="titleInfo">Inclinación</div>
      0,8°
      <div class="titleInfo">Nº de satélites</div>
      27
      <div class="titleInfo">Composición de la atmósfera </div>
      84 % hidrógeno, 14 % helio, 2 % metano
    </div>
    <div (click)="scrollToElement('vote')" class="downArrow"></div>
  </div>
</section>
<section id="vote" class="content title vote" routerLink="/vote">
    Vota tu planeta favorito
</section>


